/* Besic */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* overflow: hidden; */
}
body {
  font-family: "poppins";
}

#logo {
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li {
  display: inline-block;
  padding-right: 10px;
}
.login_btn {
  /* display: block; */
  background-color: #21b573;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  border: none;
}

nav {
  display: flex;
  align-items: center;
}

/* Hero Design */

.bg-primary-my {
  background-color: #f0fff0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
}
.color_text {
  color: #21b573;
}

.small_sub_title {
  color: #fd511a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Card:: */
.card-my {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 25px;
}

.card-temp {
  background-color: #47ff97;
  padding: 30px 30px;
  border-radius: 10px;
}

.card_title_my {
  color: #413960;

  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card_sub_title_my {
  color: #585859;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Course Design */

#courses_area {
  /* background-color: #b5b5b53e; */
}

.section_title {
  color: #413960;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.course_title {
  color: #413960;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.course_sub_title {
  color: #585859;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.course_buy_btn {
  border-radius: 33px;
  background: #21b573;
}

.small_icon {
  height: 20px;
  width: 20px;
}
.icon_title_card {
  color: #585859;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/*  testimonial*/
.testimonial_my {
  width: 70%;
  margin: 0 auto;
}

/* Footer:: */
.footer_my {
  background-color: #282531;
  color: white;
}



.footer_item > li {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}
.footer_item > li:first-child {
  font-weight: 700;
  line-height: 40px;
}

.my_footer_title {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.copyRight {
  background-color: #282531;
  color: white;
  margin-bottom: 0;
  font-size: 12px;
  padding-bottom: 10px;
}
